.page {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Flipbook styling */
.react-pageflip .page {
  background-color: white;
}
